.container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container ul li {
    display: flex;
    gap: 10px;
    font-weight: bolder;
    font-size: .9rem;
}