.style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-cl);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 10;
    height: 50px;
}

.style [target="left-side"] {
    font-size: 24px;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--active-cl);
}

.style [target="right-side"] {
    height: 100%;
    padding: 5px;
    margin-right: 20px;
    font-weight: bolder;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--active-cl);
}

.style [target="user-profile-side"] {
    display: flex;
    align-items: flex-end;
    gap: 3px;
}