.style {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--primary-cl);
}

.style [target="container"] {
    flex: 1;
    display: grid;
    grid-template-columns: 60px calc(100% - 60px);
    grid-template-rows: 1fr;
    height: calc(100% - 50px);
    width: 100%;
}

.contentContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
}