.container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container li {
  pointer-events: fill;
  padding: 5px 10px;
  background-color: var(--success-cl);
  color: var(--light-cl);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 5px;
  width: 400px;
  max-width: 400px;
  position: relative;
  transform: translateX(-150%);
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

.container li[data-hide="true"] {
  animation: slide-off 1s ease-in-out forwards;
}

@keyframes slide-off {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}

.container li[data-err="true"] {
  background-color: var(--danger-cl);
}

.container li svg {
  font-size: 20px;
}

.container li svg:last-of-type {
  margin-left: 10px;
}

.container li svg:last-of-type:hover {
  cursor: pointer;
  color: var(--active-cl);
}

.container li p {
  flex: 1;
}
