@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --main-cl: linear-gradient(45deg, #a700ff, #4d19db);
  --purple-cl: #a700ff;
  --dark-purple-cl: #4d19db;
  --secondary-cl: #97afba;
  --primary-cl: #009fc6;
  --primary-50-cl: #4ba7c0;
  --active-cl: #344a53;
  --hover-cl: #637982;
  --list-cl: #899fa9;
  --light-cl: #f2f2f2;
  --light-gray-cl: #c0c5c7;
  --warning-cl: #fd7e14;
  --danger-cl: #dc3545;
  --success-cl: #198754;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img.profile-pic:hover {
  border: 3px solid var(--hover-cl);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-gray-cl);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-cl);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--active-cl);
}
