@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --main-cl: linear-gradient(45deg,#a700ff,#4d19db);
  --purple-cl: #a700ff;
  --dark-purple-cl: #4d19db;
  --seconday-cl: #97AFBA;
  --active-cl: #344A53;
  --light-cl: #F2F2F2;
  --light-gray-cl: #C0C5C7;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

input, textarea, button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}